.container-sm{
    background-color: red;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
      
}
.info-item img{
    width: 270px;
    height: 280px;
    
}
.info-item{
    justify-content: space-around;
}
.about-item{
    width: 270px;
    height: 280px;

}